<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="ats" default="false"/>
  <arg name="robot_name" default="ingenuity"/>
  <arg name="joint_control" default="false"/>
  <arg name="use_namespace" default="false"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="2.0"/>    
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0"/>

  <arg name="nav_default_planner" default="craftsman_navigation_tools::Baseline3DNavigationPlanner"/>
  <arg name="nav_default_executor" default="craftsman_navigation_tools::Path3DPIDNavigationExecutor"/>

  <!-- Time -->
  <param name="use_sim_time" value="true" unless="$(arg sim)"/>
  <param name="use_sim_time" value="false" if="$(arg sim)"/>

  <rosparam param="kp_x">0.05</rosparam>
  <rosparam param="kp_y">0.05</rosparam>
  <rosparam param="kp_z">0.05</rosparam>
  <rosparam param="kp_roll">0.1</rosparam>
  <rosparam param="kp_pitch">0.1</rosparam>
  <rosparam param="kp_yaw">0.1</rosparam>
  <rosparam param="lookahead">10</rosparam>

  <!-- <param name="kp_trans" value="0.1"/> -->

  <include file="$(find m2020_urdf_models)/launch/ingenuity/ingenuity_config.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>
  
  <!-- Planner Node -->
  <include file="$(find m2020_urdf_models)/launch/ingenuity/ingenuity_planner_node.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- IC -->
  <include file="$(find m2020_urdf_models)/launch/ingenuity/ingenuity_controls.launch">
    <arg name="ats" value="$(arg ats)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="joint_control" value="$(arg joint_control)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- Navigation -->
  <include file="$(find craftsman_navigation_tools)/launch/craftsman_navigation_setup.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
    <arg name="rviz_sim" value="$(arg sim)"/>
    <arg name="nav_controller" value="mobile_base_controller/cmd_vel"/>
    <!-- Note: Commented out till PR for craftsman_navigation_tools is merged -->
    <arg name="nav_default_planner" value="$(arg nav_default_planner)"/>
    <arg name="nav_default_executor" value="$(arg nav_default_executor)"/>

    <arg name="nav_path_step" value="0.015"/>
    <arg name="nav_file_path" value="$(find m2020_urdf_models)/config/ingenuity/ingenuity_navigation.yaml"/>
    
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>    
    <arg name="roll" value="$(arg roll)"/>    
    <arg name="yaw" value="$(arg yaw)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    
  </include>

  <group unless="$(arg use_namespace)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find m2020_urdf_models)/rviz/ingenuity.rviz" respawn="false" output="screen" if="$(arg rviz)"/>
  </group>

</launch>
