<?xml version="1.0"?>

<robot name="perseverance" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find m2020_urdf_models)/urdf/gazebo/m2020.gazebo.component_macros.xacro" />
  
  <xacro:include filename="$(find m2020_urdf_models)/urdf/gazebo/kinect.gazebo.xacro"/>
  <xacro:include filename="$(find m2020_urdf_models)/urdf/gazebo/kinect.urdf.xacro"/>

  <!-- build components -->
  <xacro:m2020_base prefix="" />
  <xacro:m2020_arm prefix=""/>
  <xacro:m2020_head prefix=""/>

  <xacro:kinect prefix="" parent="Frame_NCL_FOV"/>
  <xacro:kinect_gazebo prefix=""/>

</robot>


