<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- link xacro -->
  <xacro:macro name="gazebo_link" params="prefix link_name gravity_off static collide">
    <gazebo reference="${prefix}${link_name}">
      <selfCollide>${collide}</selfCollide>
      <static>${static}</static>
      <turnGravityOff>${gravity_off}</turnGravityOff>
   </gazebo>
  </xacro:macro>

  <!-- joint xacro -->
  <xacro:macro name="gazebo_joint" params="prefix joint_name kd kp">
     <gazebo reference="${prefix}${joint_name}">
        <stopKd value="${kd}"/> 
        <stopKp value="${kp}"/> 
        <implicitSpringDamper>1</implicitSpringDamper>
     </gazebo>
  </xacro:macro>

  <!-- transmission xacro -->
  <xacro:macro name="gazebo_simple_pos_trans" params="prefix joint_name reduction tc">
     <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/SimpleTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>PositionJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>PositionJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>
  </xacro:macro>

  <xacro:macro name="gazebo_simple_trans" params="prefix joint_name reduction tc">
      <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/SimpleTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>

  </xacro:macro>

  <xacro:macro name="gazebo_dif_drive_trans" params="prefix joint_name reduction tc">
     <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/DifferentialTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>
  </xacro:macro>

  <!-- m2020 base xacro -->
  <xacro:macro name="m2020_base" params="prefix static:=false gravity_off:=true">

    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="LF_DRIVE" reduction="1" tc="1"/>
    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="LR_DRIVE" reduction="1" tc="1"/>
    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="LM_DRIVE" reduction="1" tc="1"/>


    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="RF_DRIVE" reduction="1" tc="1"/>
    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="RR_DRIVE" reduction="1" tc="1"/>
    <xacro:gazebo_dif_drive_trans prefix="${prefix}" joint_name="RM_DRIVE" reduction="1" tc="1"/>

    <xacro:gazebo_link prefix="${prefix}" link_name="Body_Chassis" collide="true" static="${static}" gravity_off="${gravity_off}"/>
<!--    
    <xacro:gazebo_simple_trans prefix="back_${side}" joint_name="caster_bracket" reduction="1" tc="1"/>        
    <xacro:gazebo_simple_trans prefix="back_${side}" joint_name="caster_wheel" reduction="1" tc="1"/>
  -->
  </xacro:macro>


  <!-- m2020 arm xacro -->
  <xacro:macro name="m2020_arm" params="prefix static:=false gravity_off:=true">

    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RA_Link2" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RA_Link3" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RA_Link4" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RA_Link5" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_Turret" collide="true" static="${static}" gravity_off="${gravity_off}"/>
  
    <xacro:gazebo_joint prefix="${prefix}" joint_name="JOINT1_ENC" kd="4" kp="10"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="JOINT2_ENC" kd="4" kp="10"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="JOINT3_ENC" kd="4" kp="10"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="JOINT4_ENC" kd="4" kp="10"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="JOINT5_ENC" kd="4" kp="10"/>

    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="JOINT1_ENC" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="JOINT2_ENC" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="JOINT3_ENC" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="JOINT4_ENC" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="JOINT5_ENC" reduction="1" tc="1"/>

  </xacro:macro>


  <!-- head xacro -->
  <xacro:macro name="m2020_head" params="prefix static:=false gravity_off:=true">

    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RSM_AZ" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_RSM_el" collide="true" static="${static}" gravity_off="${gravity_off}"/>

    <xacro:gazebo_joint prefix="${prefix}" joint_name="RSM_AZ_ENC" kd="0" kp="1"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="RSM_EL_ENC" kd="0" kp="1"/>

    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="RSM_AZ_ENC" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="RSM_EL_ENC" reduction="1" tc="1"/>

  </xacro:macro>


  <!-- kinect xacro -->
  <xacro:macro name="kinect_gazebo" params="prefix"/>
  
 
  <!-- tracbot hokuyo xacro    -->
  <!--<xacro:macro name="hokuyo_gazebo" params="prefix"/>-->


</robot>


