<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- link xacro -->
  <xacro:macro name="gazebo_link" params="prefix link_name gravity_off static collide">
    <gazebo reference="${prefix}${link_name}">
      <selfCollide>${collide}</selfCollide>
      <static>${static}</static>
      <turnGravityOff>${gravity_off}</turnGravityOff>
   </gazebo>
  </xacro:macro>

  <!-- joint xacro -->
  <xacro:macro name="gazebo_joint" params="prefix joint_name kd kp">
     <gazebo reference="${prefix}${joint_name}">
        <stopKd value="${kd}"/> 
        <stopKp value="${kp}"/> 
        <implicitSpringDamper>1</implicitSpringDamper>
     </gazebo>
  </xacro:macro>

  <!-- transmission xacro -->
  <xacro:macro name="gazebo_simple_pos_trans" params="prefix joint_name reduction tc">
     <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/SimpleTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>PositionJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>PositionJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>
  </xacro:macro>

  <xacro:macro name="gazebo_simple_trans" params="prefix joint_name reduction tc">
      <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/SimpleTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>

  </xacro:macro>

  <xacro:macro name="gazebo_dif_drive_trans" params="prefix joint_name reduction tc">
     <transmission name="${prefix}${joint_name}_trans">
       <type>transmission_interface/DifferentialTransmission</type>
       <joint name="${prefix}${joint_name}">
         <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
       </joint>
       <actuator name="${prefix}${joint_name}_motor">
         <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>
  </xacro:macro>



   <!-- head xacro -->
  <xacro:macro name="mhs" params="prefix static:=false gravity_off:=true">

    <xacro:gazebo_link prefix="${prefix}" link_name="Body_MHS_MainBody_v16" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_MHS_Leg01_v16" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_MHS_Leg02_v16" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_MHS_Leg03_v16" collide="true" static="${static}" gravity_off="${gravity_off}"/>
    <xacro:gazebo_link prefix="${prefix}" link_name="Body_MHS_Leg04_v16" collide="true" static="${static}" gravity_off="${gravity_off}"/>


    <xacro:gazebo_joint prefix="${prefix}" joint_name="Joint_Leg01_Axis" kd="0" kp="1"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="Joint_Leg02_Axis" kd="0" kp="1"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="Joint_Leg03_Axis" kd="0" kp="1"/>
    <xacro:gazebo_joint prefix="${prefix}" joint_name="Joint_Leg04_Axis" kd="0" kp="1"/>


    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="Joint_Leg01_Axis" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="Joint_Leg02_Axis" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="Joint_Leg03_Axis" reduction="1" tc="1"/>
    <xacro:gazebo_simple_trans prefix="${prefix}" joint_name="Joint_Leg04_Axis" reduction="1" tc="1"/>

  </xacro:macro>


  <!-- kinect xacro -->
  <xacro:macro name="kinect_gazebo" params="prefix"/>
  
 
  <!-- tracbot hokuyo xacro    -->
  <!--<xacro:macro name="hokuyo_gazebo" params="prefix"/>-->


</robot>


