<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true"/>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- planner node params -->
  <arg name="robot_name" default="perseverance"/>  
  <arg name="loop_rate" default="10"/>  
  <arg name="predictive_display" default="true"/>
  <arg name="planner_plugin" default="tracik_planner::TracIKPlanner"/>
  <arg name="use_namespace" default="false"/>

  <group if="$(arg use_namespace)">
    <group ns="$(arg robot_name)">
      <!-- the display -->
      <include if="$(arg predictive_display)" file="$(find planner_viz)/launch/display_plan.launch">
        <arg name="base_frame" value="base_footprint"/>
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="joint_state_topic" value="/$(arg robot_name)/joint_states"/>
      </include>

      <!-- Testing ref / freeze -->
      <param name="$(arg robot_name)/reference_frame" value="world"/>
      <param name="$(arg robot_name)/update_reference" value="true"/>

      <rosparam command="load" file="$(find m2020_urdf_models)/config/perseverance/joint_limits.yaml"/>
      
      <group if="$(arg sim)">
        <node name="planner_node" pkg="planner_interface" type="planner_node" output="screen">
          <param name="loop_rate" value="$(arg loop_rate)"/>
          <param name="limits_param" value="joint_limits"/>
          <param name="robot_name" value="$(arg robot_name)"/>
          <param name="planner_plugin" value="$(arg planner_plugin)"/>      
          <param name="execution_plugin" value="basic_executors::JointStateExecutor"/>
          <param name="param/execution_speed_scalar" value="0.5"/>
          <param name="publish_collision_object" value="true"/>
          <remap from="joint_states" to="joint_states"/>
          <param name="use_namespace" value="$(arg use_namespace)"/>
        </node>
      </group>


      <group unless="$(arg sim)">
        <node name="planner_node" pkg="planner_interface" type="planner_node" output="screen">
          <param name="limits_param" value="joint_limits"/>
          <param name="loop_rate" value="$(arg loop_rate)"/>
          <param name="robot_name" value="$(arg robot_name)"/>
          <param name="planner_plugin" value="$(arg planner_plugin)"/>
          <param name="execution_plugin" value="basic_executors::BasicRosControlExecutor"/>
          <rosparam file="$(find m2020_urdf_models)/config/perseverance/perseverance_controllers.yaml" ns="param/controller_list"/>
          <param name="param/execution_speed_scalar" value="0.5"/>
          <remap from="joint_states" to="joint_states"/>
          <param name="use_namespace" value="$(arg use_namespace)"/>
        </node>
      </group>
    </group> <!-- ns=robot_name -->
  </group> <!-- unless=use_namespace -->
  
  <group unless="$(arg use_namespace)">
    <!-- the display -->
    <include if="$(arg predictive_display)" file="$(find planner_viz)/launch/display_plan.launch">
      <arg name="base_frame" value="base_footprint"/>
      <arg name="joint_state_topic" value="/joint_states"/>
    </include>

    <rosparam command="load" file="$(find m2020_urdf_models)/config/perseverance/joint_limits.yaml"/>
    <group if="$(arg sim)">
      <node name="planner_node" pkg="planner_interface" type="planner_node" output="screen">
        <param name="loop_rate" value="$(arg loop_rate)"/>
        <param name="limits_param" value="/joint_limits"/>
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="planner_plugin" value="$(arg planner_plugin)"/>      
        <param name="execution_plugin" value="basic_executors::JointStateExecutor"/>
        <param name="param/execution_speed_scalar" value="0.25"/>
        <param name="publish_collision_object" value="true"/>
        <remap from="joint_states" to="joint_states"/>
        <param name="use_namespace" value="$(arg use_namespace)"/>
      </node>
    </group>
    <group unless="$(arg sim)">
      <node name="planner_node" pkg="planner_interface" type="planner_node" output="screen">
        <param name="limits_param" value="/joint_limits"/>
        <param name="loop_rate" value="$(arg loop_rate)"/>
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="planner_plugin" value="$(arg planner_plugin)"/>
        <param name="execution_plugin" value="basic_executors::BasicRosControlExecutor"/>
        <rosparam file="$(find m2020_urdf_models)/config/perseverance/perseverance_controllers.yaml" ns="param/controller_list"/>
        <param name="param/execution_speed_scalar" value="0.5"/>
        <remap from="joint_states" to="joint_states"/>
        <param name="use_namespace" value="$(arg use_namespace)"/>
      </node>
    </group>
  </group> <!-- unless=use_namespace -->
</launch>
