<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="robot_name" default="perseverance_1"/>
  <arg name="joint_control" default="false"/>
  <arg name="use_namespace" default="false"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.10"/>    
  <arg name="yaw" default="0"/>
  <arg name="gzserver" default="true"/>
  <arg name="octomap" default="false"/>
  
  <arg name="nav_default_planner" default="craftsman_navigation_tools::PlanarNavigationPlanner"/>
  <arg name="nav_default_executor" default="craftsman_navigation_tools::Path2DPIDNavigationExecutor"/>

  <group unless="$(arg use_namespace)">
    <rosparam file="$(find m2020_urdf_models)/config/perseverance/perseverance_pid.yaml"/>
  </group>
  
  <group if="$(arg use_namespace)">
    <rosparam file="$(find m2020_urdf_models)/config/perseverance/perseverance_pid.yaml" ns="$(arg robot_name)"/>
  </group>  
  
  <!-- Time -->
  <param name="use_sim_time" value="true" unless="$(arg sim)"/>
  <param name="use_sim_time" value="false" if="$(arg sim)"/>

  <param name="show_namespace" value="true"/>

  <!-- Configuration -->
  <include file="$(find m2020_urdf_models)/launch/perseverance/perseverance_config.launch" if="$(arg sim)">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <include file="$(find m2020_urdf_models)/launch/perseverance/perseverance_config_gazebo.launch" unless="$(arg sim)">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>     
    <arg name="gzserver" value="$(arg gzserver)"/>  
    <arg name="rviz" value="false"/> 
    <arg name="octomap" value="$(arg octomap)"/>
  </include>


  <!-- Planner Node -->
  <include file="$(find m2020_urdf_models)/launch/perseverance/perseverance_planner_node.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- IC -->
  <include file="$(find m2020_urdf_models)/launch/perseverance/perseverance_controls.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="joint_control" value="$(arg joint_control)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- Navigation -->
  <include file="$(find craftsman_navigation_interface)/launch/craftsman_navigation_setup.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
    <arg name="rviz_sim" value="$(arg sim)"/>
    <arg name="nav_controller" value="mobile_base_controller/cmd_vel"/> <!-- if="$(arg sim)" unless --> 
    <arg name="nav_default_planner" value="$(arg nav_default_planner)"/>
    <arg name="nav_default_executor" value="$(arg nav_default_executor)"/>

    <arg name="nav_path_step" value="0.015"/>
    <arg name="nav_file_path" value="$(find m2020_urdf_models)/config/perseverance/perseverance_navigation.yaml"/>
    
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>    
    <arg name="yaw" value="$(arg yaw)"/>
    
  </include>
  
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find m2020_urdf_models)/rviz/perseverance.rviz" respawn="false" output="screen" unless="$(arg use_namespace)"/> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find m2020_urdf_models)/rviz/perseverance_ns.rviz" respawn="false" output="screen" if="$(arg use_namespace)"/>     
  </group> 

</launch>
