<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="ats" default="false"/>
  <arg name="robot_name" default="perseverance"/>
  <arg name="joint_control" default="false"/>
  <arg name="use_namespace" default="false"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>    
  <arg name="yaw" default="0"/>

  <arg name="default_nav_planner" default="plummrs_navigation_tools::Planar2DNavPlanner"/>
  <arg name="default_nav_executor" default="plummrs_navigation_tools::Baseline3DExecutor"/>

  <!-- Time -->
  <param name="use_sim_time" value="true" unless="$(arg sim)"/>
  <param name="use_sim_time" value="false" if="$(arg sim)"/>

  <include file="$(find m2020_urdf_models)/launch/perseverance_config.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>
  
  <!-- Planner Node -->
  <include file="$(find m2020_urdf_models)/launch/perseverance_planner_node.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- IC -->
  <include file="$(find m2020_urdf_models)/launch/perseverance_controls.launch">
    <arg name="ats" value="$(arg ats)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="joint_control" value="$(arg joint_control)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
  </include>

  <!-- Navigation -->
  <include file="$(find m2020_urdf_models)/launch/perseverance_navigation.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="use_namespace" value="$(arg use_namespace)"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="nav_controller" value="mobile_base_controller/cmd_vel" if="$(arg sim)"/>

    <arg name="default_nav_planner" value="$(arg default_nav_planner)"/>
    <arg name="default_nav_executor" value="$(arg default_nav_executor)"/>

    <arg name="nav_path_step" value="0.015"/>
    <arg name="nav_file_path" value="$(find m2020_urdf_models)/config/perseverance/perseverance_navigation.yaml"/>
    
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>    
    <arg name="yaw" value="$(arg yaw)"/>
    
  </include>

  <group unless="$(arg use_namespace)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find m2020_urdf_models)/rviz/perseverance.rviz" respawn="false" output="screen" if="$(arg rviz)"/>
  </group>

</launch>
