<?xml version="1.0"?>
<launch>
  <!-- Set to true if you want to start with a trajectory with a single waypoint on it -->
  <arg name="robot_name" default=""/>
  <arg name="sim" default="true"/>
  <arg name="use_namespace" default="false"/>
  <arg name="nav_controller" default="mobile_base_controller/cmd_vel" />
  <arg name="nav_path_step" default="0.015"/>
  <arg name="nav_file_path" default=""/>

  <arg name="default_nav_planner" default="craftsman_navigation_tools::Planar2DNavPlanner"/>
  <arg name="default_nav_executor" default="craftsman_navigation_tools::Path2DPIDNavigationExecutor"/>

  <!-- Simulate robot starting at a random pose in Rviz -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/> 
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>   
  <arg name="yaw" default="0"/>

  
  
  <!-- Used internally by (robot*)_navigation.yaml to properly namespace the robot_frame -->
  <arg name="robot_frame_robot" value="$(arg robot_name)" if="$(arg use_namespace)"/>
  <arg name="robot_frame_robot" value="" unless="$(arg use_namespace)"/>

  <!-- load (robot*)_navigation.yaml -->
  <group if="$(arg use_namespace)">
      <rosparam file="$(arg nav_file_path)" ns="$(arg robot_name)" command="load" subst_value="true"/>
  </group>

  <group unless="$(arg use_namespace)">
      <rosparam file="$(arg nav_file_path)" command="load" subst_value="true"/>
  </group>
  
  <!-- Simulate odometry in Rviz -->
  <group if="$(arg use_namespace)" ns="$(arg robot_name)">

    <param name="navigation/default_planner" value="$(arg default_nav_planner)"/>
    <param name="navigation/default_executor" value="$(arg default_nav_executor)"/>

    <group if="$(arg sim)">
      <node name="fake_base_cmd" pkg="navigation_interface" type="fake_base_cmd" respawn="false" output="screen">
        <param name="cmd_vel" value="$(arg nav_controller)"/>
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
        <param name="roll" value="$(arg roll)"/>  
        <param name="pitch" value="$(arg pitch)"/>  
        <param name="yaw" value="$(arg yaw)"/>  
      </node>
    </group>
  </group>
  
  <group unless="$(arg use_namespace)">

    <param name="navigation/default_planner" value="$(arg default_nav_planner)" />
    <param name="navigation/default_executor" value="$(arg default_nav_executor)" />

    <group if="$(arg sim)">
      <node name="fake_base_cmd" pkg="navigation_interface" type="fake_base_cmd" respawn="false" output="screen">
        <param name="cmd_vel" value="$(arg nav_controller)"/>
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
        <param name="roll" value="$(arg roll)"/>  
        <param name="pitch" value="$(arg pitch)"/>  
        <param name="yaw" value="$(arg yaw)"/>  
      </node>
    </group>
  </group>


</launch>
